.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.container > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.justify {
  text-align: justify;
}

.center {
  text-align: center;
}

/* Justificar todo el contenido del libro */
body {
  text-align: justify;
}

/* Justificar párrafos */
p {
  text-align: justify;
  text-align-last: left;
}

/* Justificar contenido principal */
.quarto-container {
  text-align: justify;
}

.quarto-body {
  text-align: justify;
}

/* Justificar secciones específicas */
article {
  text-align: justify;
}

article p {
  text-align: justify;
  text-align-last: left;
}

/* No justificar listas y códigos */
li {
  text-align: left;
}

pre, code {
  text-align: left;
}

/* No justificar tablas */
table {
  text-align: left;
}

/* Justificar callouts */
.callout {
  text-align: justify;
}

.callout p {
  text-align: justify;
  text-align-last: left;
}
